/* Added Font-Family Here */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* Nav Bar Style Starts Hear */
.nav{
    display: flex;
    width: 1050px;
    margin: 38px auto 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    color: rgb(13, 19, 33);
        font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-btn{
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
   

}
.nav-download-btn{
    width: 100%;
    height: 100%;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
/* front Panel Style Starts Hear */
header{
    width: 1440px;
    height: 652px;
    margin: 74px auto;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}
.header-container{
    position: absolute;
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header-image{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
}
.header-title{
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0px;
    
}
.header-description{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 0;
}
.header-btn{
    margin-top: 32px;
    width: 208px;
    height: 66px;
}
.header-btn-content{
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 21px 14px;
}  
/* Main Panel Style Starts Hear */

/* Development Section Style Starts Hear */

.development{
    width: 1140px;
    height: 1395px;
    margin: 47px auto 88px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.development-container{
    width: 946px;
    height: 1235px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}
.question-part{
    width: 852px;
    height: 115px;
}
.question{
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.question-answer{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}
.answer-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.info-box{
    width: 946px;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.upper{
    max-width: 946px;
    max-height: 336px; 
}
.upper-left{
    width: 477px;
    height: 219px;
}
.upper-left-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.upper-left-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
}
.upper-left-box{
    max-width: 171px;
    max-height: 47px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.upper-left-learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    text-decoration: none;
}
.upper-right{
    width: 259.56px;
    height: 217.01px;
    margin-right: 48px;
}
.upper-right-image{
    width: 100%;
    height: 100%;
}
.inner{
    max-width: 946px;
    max-height: 336px;
}
.inner-left{
    width: 259.56px;
    height: 217.01px;
    margin-left: 48px;
    margin-right: 0px;
}
.inner-left-image{
    width: 100%;
    height: 100%;
}
.inner-right{
    width: 477px;
    height: 219px;
    margin-left: 32px;
    margin-right: 101px;
}
.inner-left-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.inner-left-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
}
.inner-left-box{
    max-width: 171px;
    max-height: 47px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.inner-left-learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    text-decoration: none;
}
.lower{
    max-width: 946px;
    max-height: 336px;
}
.lower-left{
    width: 477px;
    height: 219px;
}
.lower-left-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
}
.lower-left-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 32px;
}
.lower-left-box{
    max-width: 171px;
    max-height: 47px;
    padding: 12px 20px 12px 20px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 10px;
}
.lower-left-learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    text-decoration: none;
}
.lower-right{
    width: 259.56px;
    height: 217.01px;
    margin-right: 48px;
}
.lower-right-image{
    width: 100%;
    height: 100%;
}
/* Inspiration Section Style Starts Hear */

.inspiration-container{
    width: 1140px;
    height: 775px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 88px auto 0px;
}
.inspiration-title{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-description{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 0px auto 48px;
}
.inspiration-video{
    width: 1076px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    border-radius: 16px;
    background: url(https://youtu.be/DGHn2uOAVCE?si=siL4llkOVzFiafEH);
}
/* My Current Target Section Style Starts Hear */

.current-target-container{
    width: 1140px;
    height: 460px;
    margin: 151px auto 0px;
}
.current-target-header{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0px auto 48px;
}
.current-target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}
.current-target-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.current-target-cards{
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;


}
.current-target-card-item{
    width: 364px;
    height: 299px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 40px;
}
.card-image{
    width: 39.68px;
    height: 45px;
}
.card-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}
.card-learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
#html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
#css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
#javascript{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* Support Section Style Starts Hear */

.support-container{
    width: 1140px;
    height: 313px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin: 49px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}
.support-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 16px;
}
.support-input{
    width: 684px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;

}
#support-massage{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    padding-left: 20px;
}
.support-btn{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
